.date-picker {
  display: inline-block;
  margin-right: 10px;
}

.data-display {
  display: inline-block;
  margin-left: 10px;
}

.data-display > canvas {
  display: inline-block !important;
}

.table-wrapper {
  height: 40vh;
  max-height: 600px;
  overflow: auto;
  overflow-y: scroll;
}
